.question {
    padding-top: 60px;
}
.question__heading{
    text-align: center;
    margin-bottom: 40px;
}
.question__heading span {
    font-family: var(--font-black);
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 133.84%;
    letter-spacing: 0.005em;

    color: #0EA5E9;
    position: relative;
}
.question__heading span::before {
    content: url("../images/question/shape1.png");
    position: absolute;
    top: -3px;
    left: -110px;
}
.question__heading span::after {
    content: url("../images/question/shape2.png");
    position: absolute;
    top: -3px;
    right: -110px;
}
.question__list {
    background: url("../images/question/qs-bg.png") no-repeat ;
    background-size: cover;
}